@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);

$sidebar-width: 248px;

html {
  height: 100%;
  padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    /*background: #fafafa;*/
    padding: 0;
    height: 100%;
    background: #F5F6F7 url(../images/sidebar.png) top left repeat-y;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header {
  /*border-bottom: 1px solid #bbb;*/
  background: #F5F6F7;
}

.step-app {
  display: inline-block;
  width: $sidebar-width;
  height: 50px;
  position: relative;
  background: #041620;

    h2 {
      display: inline;
      position: absolute;
      color: #FFF;
      margin: 8px 0 0 -14px;
    }
}
.step-triangle {
  display: inline-block;
  position: absolute;
  right: -15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 15px;
  border-color: transparent transparent transparent #041620;
}

.track-box {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    /*background-color: #eee;*/
    border-radius: 6px;
}

.track-window {
/*  position: absolute;
  left: $sidebar-width;
  right: 0;
*/
  display: inline-block;
  height: 100%;
  vertical-align: top;
  /*background: #FAFAFA;*/
  margin-left: -3px;
  width: 100%;
  position: absolute;
}

.yourtracks {
  background: #F5F6F7;
  position: relative;
  left: 4px;
}

.yourtracks-header, .applicants-header {
  background-color: #FFF;
  height: 108px;
  margin-bottom: 20px;
  /*padding: 0 43px;*/

  h1 {
    display: inline-block;
    font-size: 60px;
    line-height: 20px;
    color: #06303E;
    margin-left: 40px;
    position: relative;
    z-index: 1;
  }

}

.applicants-header {
  margin-bottom: 0;
}

.yourtracks-header:after, .applicants-header:after {
  position: absolute;
  right: 0;
  left: 0;
  height: inherit;
  content: " ";
  background: #fff;
  z-index: 0;
}

.input {
  display: inline-block;
  font-size: 14px;
  margin-left: 55px;
  width: 206px;
  height: 32px;
  position: relative;
  /*bottom: 11px;*/
  text-indent: 6px;
  border: 1px solid #D8D8D8;
  border-radius: 4px 0px 0px 4px;
  z-index: 1;
}

.search-track {
  display: inline-block;
  font-size: 14px;
  margin-left: 55px;
  width: 206px;
  height: 32px;
  position: relative;
  bottom: 11px;
  text-indent: 6px;
  border: 1px solid #D8D8D8;
  border-radius: 4px 0px 0px 4px;
  z-index: 1;
}

.search-icon {
  display: inline-block;
  font-size: 18px;
  position: relative;
  bottom: -2px;
  right: 4px;
  height: 34px;
  width: 38px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #D8D8D8;
  z-index: 1;
}

.sign-up-meta {
  display: inline-block;
  border: 1px dashed #B1ADAA;
  margin-left: 40px;

    input {
      display: block;
      margin: 15px;
    }
}

.username, .password, .email {
  width: 220px;
  margin: 0 24px 0 0;
  height: 22px;
  font-size: 18px;
  padding-left: 6px;
  position: relative;
  top: 3px;
}

.submit-user {
  background: #1A93CA;
  float: right;
  margin: 0 15px 10px;
  cursor: pointer;
}

.submit-user:hover {
  background: #1B3B4A;
}

.track {
  border: 1px solid #D8D8D8;
  height: 140px;
  width: 1000px;
  margin-left: 43px;
  margin-top: 30px;
  border-radius: 4px;
  background: #fff;
}

.track-name {
  margin: 0;
  width: 320px;
  height: 30px;
  font-size: 18px;
}

.track-main {
  display: inline-block;
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
}

.track-main {

  h2 {
    display: inline-block;
    font-weight: 400;
    color: #0884C0;
    margin-left: 20px;
    margin-top: 16px;
  }
}

.track-main:hover {
  cursor: pointer;

  .ss-navigateright {
    color: #239CCB;
  }
}

.track-meta {
  display: inline-block;
  color: #A5A6A8;
  margin-left: 20px;
  margin-right: 2px;

  h6 {
    display: inline;
  }
}

.divider {
  margin-left: 2px;
}

.track-bottom {
  display: inline-block;
  height: 45px;
  width: 100%;
}

.class-status, .class-applicants,
.class-accepted {

  h3 { 
    font-weight: 400;
    display: inline-block;
    position: relative;
    bottom: 4px;
  }
}

.class-status {
  display: inline-block;
  margin-left: 20px;
  color: #06303E;

  i {
    color: #239CCB;
    position: relative;
    bottom: -3px;
    margin-right: 2px;
    font-size: 26px;
  }
}

.class-applicants {
  display: inline-block;
  margin-left: 85px;
  color: #06303E;

  span {
    color: #239CCB;
    position: relative;
    bottom: 3px;
    margin-right: 2px;
    font-size: 20px;
  }
}

.class-accepted {
  display: inline-block;
  margin-left: 85px;
  color: #06303E;

  span {
    color: #239CCB;
    position: relative;
    bottom: 3px;
    margin-right: 2px;
    font-size: 20px;
  }
}

.steps-icon {
  display: inline-block;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 84px;
  border-radius: 4px;
  border: 1px solid #B1ADAA;

  p {
    display: inline;
    position: absolute;
    top: -11px;
    left: 10px;
    color: #06303E;
  }
}

.steps-icon:hover {
    cursor: pointer;

    p, i {
      color:   #239CCB;
    }

}


.add-holder {
    position: absolute;
    bottom: 35px;
    right: 55px;
}

.step-box {
    border: 1px dashed #B1ADAA;
    padding: 10px;
    width: 600px;
    border-radius: 4px;
    margin: 15px 44px;
}

.track-controls {
  width: 600px;
  border: 1px solid #DFDDDD;
  margin-left: 43px;
  height: 38px;
  border-radius: 4px;
  padding: 10px;
  background: #E7E7E7;
}

.step-title {
  width: 220px;
  margin: 0 24px 0 0;
  height: 22px;
  font-size: 18px;
  padding-left: 6px;
  position: relative;
  top: 3px;
}

.action {
    /*display: block;*/
    width: 235px;
    position: relative;
    /*z-index: 200;*/
}

.view {
  min-width: 1320px;
  position: relative;
  display: inline-block;
  width: 100%;
  transition: 1s ease;
  /*background-color: #f5f6f7;*/
}

.sidebar {
  vertical-align: top;
  width: $sidebar-width;
  background-color: #072a3b;
  display: inline-block;
  z-index: 1;
  position: relative;
  border-top: 1px solid #173648;
}

.sidebar-box {

  height: 53px;
  width: 100%;
  border-bottom: 1px solid #173648;

    h3 {
      display: inline;
      position: absolute;
      color: #FFF;
      margin: 14px 0 0 -14px;
    }
}

.sidebar-box:hover{
  background-color: #041620;
  cursor: pointer;
}

.main-view {
  height: 100%;
  display: inline-block;
  border: 1px solid grey;
}






/**************** MODAL *****************/



.modal {
  background: rgba(0,0,0,0.0); 
  z-index:2;
  top: 0px; 
  left: 0px;
  bottom:0px;
  right:0px;
  height: 0px;
  overflow:hidden;
  transition: background 0.4s ease;
}
 
.modal-active {
  background: rgba(0,0,0,0.5); 
  position:  fixed; 
  height: auto;
}
 
.modal-active .modal-box {
  opacity: 1;
 
}
 
.modal-box {
  opacity: 0;
  height:200px;
  width:500px;
  text-align: center;
  position: relative;
  border-radius:5;
  background: #fff;
  margin: 0px auto;
  box-shadow: 0 2px 2px #585858;
  transition: all 0.5s ease;
}

.modal-box p {
  color: #000;
}

.active {
  height:117px;
  width:520px;
  margin-right:277px;
  margin-top:74px;
  float:right;
  -webkit-transition:height 1.2s ease;
  background: grey;
}

.warning {
  background: rgba(247, 23, 23, 0.64);
  -webkit-input-placeholder {
    color: white; }
}

.Button-2{
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 2px 1px #810E05;
  height: 30px;
  width: 110px;
  margin: 0 auto;
  line-height: 27px;
  font-size: 20px;
  font-family: 'Press Start 2P';
  color: white;
  border-radius: 13px;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #8F423B) );
  background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color: #FFFFFF;
}

.Button-2:hover {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;

}

.Button-2:active {
  bottom: 5px;
}

/*************** END MODAL 8************************/

/* buttons */

.button {
  border: none;
  height: 36px;
  width: 74px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.add-step {
  background: #1A93CA;
  cursor: pointer;
  width: 92px;
  float: right;
  margin-left: 10px;
  line-height: 18px;

  i {
    /*position: absolute;*/
    font-size: 16px;
  }
}

.save-track {
  background: #1A93CA;
  cursor: pointer;
  width: 92px;
  float: right;
  margin-left: 10px;
  line-height: 32px;

  i {
    font-size: 14px;
    position: relative;
    top: 3px;
    left: 2px;
  }
}

.delete-step {
  background: #ED7952;
  cursor: pointer;
  position: relative;
  left: 26px;
}

.new-button {
  background-color: #1A93CA;
  position: relative;
  bottom: 12px;
  line-height: 32px;
  padding-left: 12px;
  z-index: 1;
  width: 66px;
}

.new-button:hover{
  background: #1B3B4A;
  cursor: pointer;
}




/* symbolset */

.ss-pixels, .ss-barchart,
.ss-share, .ss-users,
.ss-desktop {
  display: inline-block;
  font-size: 22px;
  color: #187CA0;
  margin-left: 15px;
  margin-top: 12px;
}

.ss-navigateright {
  float: right;
  position: relative;
  top: 32px;
  right: 10px;
  color: #A5A6A8;
  font-size: 26px;
}

.ss-layergroup {
  float: right;
  position: relative;
  color: #5c6d76;
  right: 10px;
  top: 7px;
}

.ss-icon {
  position: absolute;
  top: 6px;
  left: 2px;
  margin: 1px 0 0 8px;
}

.ss-plus {
  position: relative;
  top: 4px;
  left: 4px;
  font-size: 18px;
}

.ss-pixels {
  margin-top: 11px;
}

.ss-barchart {
  margin-top: 10px;
}

.ss-users {
  margin-top: 13px;
}

.ss-rewind {
  border: 1px solid #124E68;
  color: #124E68;
  border-radius: 50%;
  font-size: 16px;
  padding: 4px 6px 0px 4px;
  margin-left: 76px;
  cursor: pointer;
}

/* sidbar */

// .visible {
//   vertical-align: top;
//   width: $sidebar-width;
//   background-color: #072a3b;
//   display: inline-block;
//   z-index: 1;
//   position: relative;
//   border-top: 1px solid #173648;
//   transition: 500s ease;
// }

.hidden {
  right: 284px;
}

.hide-view {
  right: 284px;
}

.show-view {
  right: 0px;
}

/* Applicants view */

.header-filler {
  height: 115px;
  background: #fff;
  position: relative;
  top: -217px;
}

.applicant-box {
  border: 1px solid #D8D8D8;
  height: 110px;
  width: 1000px;
  margin-left: 43px;
  margin-top: 30px;
  border-radius: 4px;
  background: #fff;
  position: relative;

  img {
    display: inline-block;
    border-radius: 4px;
    margin: 12px;
  }

  h2 {
    display: inline-block;
    font-weight: 400;
    color: #0884C0;
    margin-left: 12px;
    margin-top: 16px;
    vertical-align: top;
  }
}

.applicant-box:hover {
  cursor: pointer;
}

.applicant-subhead {
  display: inline-block;
  height: 55px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #E8E4E4;
  border-bottom: 1px solid #E8E4E4;
}

.search-applicant-icon {
  top: 9px;
}

.search-applicants {
  margin-left: 43px;
  top: -4px;
}

.filters {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid #D8D8D8;
  // width: 418px;
  height: 32px;
  position: relative;
  top: 8px;
  border-radius: 4px;
  margin-left: 12px;
  
  li {
    display: inline-block;
    height: 32px;
    line-height: 54px; 
    cursor: pointer; 
  }
  
  .all-filter {
    border-right: 1px solid #D8D8D8;
    width: 38px; 
    span {
      position: relative;
      bottom: 10px;
      left: 12px;
    } 
  }

  .completed-filter {
    border-right: 1px solid #D8D8D8;
    width: 90px;
    span {
      position: relative;
      bottom: 10px;
      left: 7px;
    }
  }
  
  .incomplete-filter {
    border-right: 1px solid #D8D8D8;
    width: 94px;
    
    span {
      position: relative;
      bottom: 10px;
      left: 8px;
    }
  }

  .accepted-filter {
    border-right: 1px solid #D8D8D8;
    width: 80px;
    
    span {
      position: relative;
      bottom: 10px;
      left: 8px;
    }  
  }

  .rejected-filter {
    width: 78px;

    span {
      position: relative;
      bottom: 10px;
      left: 8px;
    } 
  }
}

.progress-bar {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #D8D8D8;
}