@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
html {
  height: 100%;
  padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background: #fafafa;
    padding: 0;
    height: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header {
  border-bottom: 1px solid #bbb;
}

/*.main-view {
    display: inline-block;
    position: relative;
    border: 1px solid blue;
}*/

.track-box {
    position: absolute;
    display: inline-block;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
}

.track-window {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*.track-window-container {
  width: 800px;
  height: 100%;
  border: 1px solid black;
  margin: 0 auto;
}*/


.yourtracks {
  height: 100%;
}

.yourtracks-header {
  background-color: #FFF;
  height: 105px;
  width: 100%;
  padding: 0 30px;

  h1 {
    display: inline-block;
    font-size: 60px;
    line-height: 20px;
    color: #06303E;
  }

}

.track {
  border: 1px solid #D8D8D8;
  height: 140px;
  width: 1000px;
  margin-left: 43px;
  margin-top: 30px;
  border-radius: 4px;
}

.track-main {
  display: inline-block;
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
}

.track-main {

  h2 {
    font-weight: 400;
    color: #0884C0;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.track-meta {
  display: inline-block;

  h6 {
    display: inline;
    margin-left: 20px;
  }
}

.track-bottom {
  display: inline-block;
  height: 45px;
  width: 100%;
}

.class-status {
  display: inline-block;
  margin-left: 20px;
}
.class-applicants {
  display: inline-block;
  margin-left: 85px;
}
.class-accepted {
  display: inline-block;
  margin-left: 85px;
}

#search-track {
  display: inline-block;
  width: 178px;
  position: relative;
  bottom: 5px;
  left: 120px;
}

.add-holder {
    position: absolute;
    bottom: 35px;
    right: 55px;
}

.step-box {
    border: 1px solid #B1ADAA;
    padding: 10px;
}

#step-title {
    width: 155px;
}

#action {
    display: block;
    width: 160px;
}

.view {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #f5f6f7;
}
.sidebar {
    width: 248px;
    height: 100%;
    background-color: #072a3b;
    display: inline-block;
}

.sidebar-box {
  height: 53px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.main-view {
  height: 100%;
  display: inline-block;
  border: 1px solid grey;
}

.step-app {
    width: 248px;
    height: 50px;
    position: relative;
    background: #041620;
}
.step-app h4 {
    display: inline;
    position: absolute;
    color: white;
    margin-top: 0;
}

.step-app:after, .step-app:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.step-app:after {
    border-width: 25px;
    margin-top: -25px;
}
.step-app:before {
    /*border-color: #041620;*/
    border-left-color: #041620;
    border-width: 20px;
    margin-top: -20px;
}

/**************** MODAL *****************/



.modal {
  background: rgba(0,0,0,0.0); 
  z-index:2;
  top: 0px; 
  left: 0px;
  bottom:0px;
  right:0px;
  height: 0px;
  overflow:hidden;
  transition: background 0.4s ease;
}
 
.modal-active {
  background: rgba(0,0,0,0.5); 
  position:  fixed; 
  height: auto;
}
 
.modal-active .modal-box {
  opacity: 1;
 
}
 
.modal-box {
  opacity: 0;
  height:200px;
  width:500px;
  text-align: center;
  position: relative;
  border-radius:5;
  background: #fff;
  margin: 0px auto;
  box-shadow: 0 2px 2px #585858;
  transition: all 0.5s ease;
}

.modal-box p {
  color: #000;
}

.active {
  height:117px;
  width:520px;
  margin-right:277px;
  margin-top:74px;
  float:right;
  -webkit-transition:height 1.2s ease;
  background: grey;
}

.warning {
  background: rgba(247, 23, 23, 0.64);
  -webkit-input-placeholder {
    color: white; }
}

.Button-2{
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 2px 1px #810E05;
  height: 30px;
  width: 110px;
  margin: 0 auto;
  line-height: 27px;
  font-size: 20px;
  font-family: 'Press Start 2P';
  color: white;
  border-radius: 13px;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #8F423B) );
  background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color: #FFFFFF;
}

.Button-2:hover {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;

}

.Button-2:active {
  bottom: 5px;
}

/*************** END MODAL 8************************/



